<style>
  .censored {
    cursor: pointer;
    padding: 0.2em;
    border-radius: 0.2em;
    filter: blur(4px);
    transition: 0.3s -webkit-filter ease;
  }

  .censored:hover {
    filter: blur(0px);
  }
</style>

<span class="censored">
  <slot />
</span>
