---
import { Icon } from "@astrojs/starlight/components";
const { src, mask } = Astro.props;
---

<style>
.container {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.masked-image {
  width: 500px;
  height: auto;
  mask-repeat: no-repeat;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}

.masked-image:hover {
  filter: blur(3px);
}  
</style>

<div class="container">
  <img 
    src={src} 
    alt="PNG Image" 
    class="masked-image" 
    style={`mask-image: url('/images/ImagesMaks/${mask}.webp'); 
            -webkit-mask-image: url('/images/ImagesMaks/${mask}.webp');`}>
</div>
